# stream->peerflix
alias stream="peerflix"

# irc->irssi
alias irc="irssi"

# imgur->imgurr
alias imgur="imgurr"

# Set alias for hub
eval "$(hub alias -s)"

# TheFuck to Fuck
alias fuck='$(thefuck $(fc -ln -1))'

# I'll never remember "hicat" for highlighting
alias highlight="hicat"
