[user]
  name  = Josh Trommel
  email = joshtrommel@gmail.com
[github]
  user = probablyjosh
[credential]
  helper = osxkeychain

[push]
  default = simple

[color]
    diff = auto
    status = auto
    branch = auto
    ui = auto

[alias]
  st = status
  big = lfs
  undo = reset HEAD~1 --mixed
  amend = commit --amend
  delete-remote-branch = push origin --delete
  list = ls-files
  ls = ls-files
  root = rev-parse --show-toplevel
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  hist = !git --no-pager log --color --pretty=format:'%C(yellow)%h%C(reset)%C(bold red)%d%C(reset) %s %C(black)— %an (%ad)%C(reset)' --relative-date | emojify | less -r # credit to gh as-cii/terminal-emojify
