[user]
  name  = Josh Trommel
  email = joshtrommel@gmail.com
[github]
	user = probablyjosh
[credential]
  helper = osxkeychain

[push]
  default = simple

[color]
    diff = auto
    status = auto
    branch = auto
    ui = auto

[alias]
  status = status -sb
  st = status
  b = branch
  ch = checkout
  p = pull
  delete-remote-branch = push origin --delete
  list = ls-files
  ls = ls-files
  root = rev-parse --show-toplevel
  log = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
